bs4  # Required by pandas.read_html
cachetools  # https://github.com/tkem/cachetools/blob/master/CHANGELOG.rst
dagdshort
diskcache
dressuplite
emoji  # https://github.com/carpedm20/emoji/blob/master/CHANGES.md
feedparser  # https://github.com/kurtmckee/feedparser/blob/develop/CHANGELOG.rst
hext
html5lib  # Required by pandas.read_html
humanize  # https://github.com/python-humanize/humanize/releases
ircstyle
jmespath
lxml  # https://github.com/lxml/lxml/blob/master/CHANGES.txt
miniirc  # https://github.com/luk3yx/miniirc/blob/master/CHANGELOG.md
numpy
ordered-set  # https://github.com/rspeer/ordered-set/blob/master/CHANGELOG.md
pandas
peewee  # https://github.com/coleifer/peewee/releases
psutil  # https://github.com/giampaolo/psutil/blob/master/HISTORY.rst
pygithub  # https://pygithub.readthedocs.io/en/latest/changes.html
requests  # https://requests.readthedocs.io/en/latest/community/updates/#release-history
ruamel.yaml  # https://sourceforge.net/p/ruamel-yaml/code/ci/default/tree/
