bitlyshortener
bs4  # Required by pandas.read_html
cachetools
dickens
diskcache
dressup
feedparser
hext
html5lib  # Required by pandas.read_html
humanize
ircmessage
jmespath
lxml
miniirc
numpy
orderedset
pandas
peewee
requests
ruamel.yaml
